.main
  %h2 会員情報入力
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :ニックネーム　, class: "field--label"
      = f.label :必須, class: "field--must"
      %br/
      = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例) フリマくん", required: "true", class: "field--form"
    .field
      = f.label :メールアドレス　, class: "field--label"
      = f.label :必須, class: "field--must"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", required: "true", class: "field--form"
    .field
      = f.label :パスワード　, class: "field--label"
      = f.label :必須, class: "field--must"
      - if @minimum_password_length
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上（半角英数字を含む）", required: "true", class: "field--form"
    .field
      = f.label :パスワード（確認用）, class: "field--label"
      = f.label :必須, class: "field--must"
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "上記と同じパスワードを入力", required: "true", class: "field--form"
    .sentence
      %b 本人確認
      %br/
      安全・安心にご利用いただくために、お客様の本人情報の登録にご協力ください。他のお客様に公開されることはありません。
    .profile
      = f.fields_for :profile do |f|
        .profile__field
          = f.label :お名前　, class: "field--label"
          = f.label :必須, class: "field--must"
          %br/
          = f.text_field :first_name, autofocus: true, autocomplete: "first_tname", placeholder: "田中", required: "true", class: "profile__field--form"
          = f.text_field :family_name, autofocus: true, autocomplete: "family_name", placeholder: "太郎", required: "true", class: "profile__field--form"
        .profile__field
          = f.label :お名前（ふりがな）, class: "field--label"
          = f.label :必須, class: "field--must"
          %br/
          = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "たなか", required: "true", class: "profile__field--form"
          = f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana", placeholder: "たろう", required: "true", class: "profile__field--form"

        .profile__field
          = f.label :生年月日　, class: "field--label"
          = f.label :必須, class: "field--must"
          %br/
          = f.number_field :birth_year, autofocus: true, autocomplete: "birth_year", placeholder: "年", required: "true", class: "profile__field--form"
          = f.number_field :birth_month, autofocus: true, autocomplete: "birth_month", placeholder: "月", required: "true", class: "profile__field--form"
          = f.number_field :birth_day, autofocus: true, autocomplete: "birth_day", placeholder: "日", required: "true", class: "profile__field--form"
    .actions
      = f.submit "次へ", class: "actions--btn", url: "new_shipping_address_registration_path"