.wrapper
  %main.container
    %div.side
      %nav.mypage-nav
        %ul.mypage-nav-list
          %li.nav-list= link_to "マイページ", "#", class: "nav-list"
          %li.nav-list= link_to "お知らせ", "#", class: "nav-list"
          %li.nav-list= link_to "やることリスト", "#", class: "nav-list"
          %li.nav-list= link_to "お気に入り一覧", likes_path, class: "nav-list"
          %li.nav-list= link_to "出品する", "#", class: "nav-list"
          %li.nav-list= link_to "下書き一覧", "#", class: "nav-list"
          %li.nav-list= link_to "出品した商品 - 出品中", "#", class: "nav-list"
          %li.nav-list= link_to "出品した商品 - 取引中", "#", class: "nav-list"
          %li.nav-list= link_to "出品した商品 - 売却済み", "#", class: "nav-list"
          %li.nav-list= link_to "購入した商品 - 取引中", "#", class: "nav-list"
          %li.nav-list= link_to "購入した商品 - 過去の取引", "#", class: "nav-list"
          %li.nav-list= link_to "ニュース一覧", "#", class: "nav-list"
          %li.nav-list= link_to "評価一覧", "#", class: "nav-list"
          %li.nav-list= link_to "ガイド", "#", class: "nav-list"
          %li.nav-list= link_to "お問い合わせ", "#", class: "nav-list"
        %h3.mypage-nav-head
          Payjp
        %ul.mypage-nav-list
          %li.nav-list= link_to "売上・振込申請", "#", class: "nav-list"
          %li.nav-list= link_to "ポイント", "#", class: "nav-list"
        %h3.mypage-nav-head
          設定
        %ul.mypage-nav-list
          %li.nav-list= link_to "プロフィール", "#", class: "nav-list"
          %li.nav-list= link_to "発送元・お届け先住所変更", "#", class: "nav-list"
          %li.nav-list= link_to "支払い方法", "#", class: "nav-list"
          %li.nav-list= link_to "メール/パスワード", "#", class: "nav-list"
          %li.nav-list= link_to "本人情報", "#", class: "nav-list"
          %li.nav-list= link_to "電話番号の確認", "#", class: "nav-list"
          %li.nav-list= link_to "クレジットカード登録", "#", class: "nav-list" 
          %li.nav-list= link_to "ログアウト", my_page_logout_items_path, class: "nav-list" 