.category-box
  %ul.parent
  
    - @parents.each do |parent|
      %li.parent-category
        = link_to "#{parent.name}", category_path(parent)
        %ul.child
          - parent.children.each do |child|
            %li.child-category
              = link_to "#{child.name}", category_path(child)
              %ul.grandchild
                - child.children.each do |grandchild|
                  %li.grandchild-category
                    = link_to "#{grandchild.name}", category_path(grandchild)