.header
  .header__inner

    .header-top
      .header-top__icon
        = link_to '/' do
          = image_tag asset_path("logo/logo.png"),class:"header-top__icon__logo"
      .header-top__searchBox
        = form_with(url: search_items_path, local: true, method: :get,class: "header-top__searchBox__form") do |form|
          = form.text_field :keyword, placeholder: "何かお探しですか?", class: "header-top__searchBox__form__input"
          = button_tag type: 'submit', class: 'header-top__searchBox__form__button' do
            = image_tag asset_path("icon/icon-search 1.png"),class:"header-top__searchBox__form__button__icon"

    .header-nav
      %ul.header-nav__left-nav
        %li
          .header-nav__left-nav__category
            = image_tag asset_path("icon/icon_category.png"),class:"header-nav__left-nav__category__icon"
            .header-nav__left-nav__category__text
              = link_to categories_path do
                カテゴリー
              .categoryBox
                = render 'items/category'


        %li
          = link_to '#',class:'header-nav__left-nav__brand' do
            = image_tag asset_path("icon/icon_brand.png"),class:"header-nav__left-nav__brand__icon"
            .header-nav__left-nav__brand__text
              ブランド

      %ul.header-nav__right-nav
        -if user_signed_in?
          %li
            = link_to likes_path,class:'header-nav__right-nav__navbtn-likes' do
              .header-nav__right-nav__navbtn-likes__text
                =icon('fa', 'star', class: 'header-nav__right-nav__navbtn-likes__text__icon')
                お気に入り
              - if  @like_items.count != 0
                .header-nav__right-nav__navbtn-likes__count
                  = @like_items.count
          %li
            .header-nav__right-nav__username
              ようこそ、
              %span
                =current_user.nickname
              さん
          %li
            = link_to 'マイページ', user_path(current_user),class:'header-nav__right-nav__navbtn-my'
          %li
            = link_to 'ログアウト', destroy_user_session_path,class:'header-nav__right-nav__navbtn-out', method: :delete
        -else
          %li
            = link_to 'ログイン', new_user_session_path,class:'header-nav__right-nav__navbtn-in'
          %li
            = link_to '新規会員登録', new_user_registration_path,class:'header-nav__right-nav__navbtn-up'