- @items.each do |item|
  %li.itemlist
    - if item.buyer_id != nil
      .itemlist__sold
        .itemlist__sold__text
          S O L D
    = link_to item_path(item.id) do
      .itemlist__img
        = item.images.first(1).each do |image|
          = image_tag image.url.url
      .itemlist__body
        .itemlist__body__name
          = item.name
        .itemlist__body__details
          %ul
            %li
              - if item.buyer_id != nil
                .itemlist__body__details__sold
                  S O L D
              - else
                = "¥#{item.price.to_s(:delimited)}"
            %li
              =icon('fa', 'star', class: 'itemlist__body__details__likeicon')
              0
          %p (税込み)