.TPmain
  .mainVisual
    .mainVisual__content
      .mainVisual__content__title
        <br>
        人生を変えるフリマアプリ
      .mainVisual__content__text
        FURIMAはだれでもかんたんに出品・購入できる<br>
        フリマアプリです
      .mainVisual__content__icon
        = link_to my_page_items_path, class: 'Btn' do
          = image_tag asset_path("logo/app-store.svg"),class:'mainVisual__content__icon__aBtn'
        = link_to card_add_items_path,class: 'Btn' do
          = image_tag asset_path("logo/google-play.svg"),class:'mainVisual__content__icon__gBtn'

  .topIntroduction
    .topIntroduction__title
      FURIMAが選ばれる3つの理由
    %ul.topIntroduction__lists
      %li.topIntroduction__lists__list
        .topIntroduction__lists__list__pict
          %span.topIntroduction__lists__list__pict__number
            1
          = image_tag asset_path("pict/pict-reason-01.jpg")
        .topIntroduction__lists__list__text
          %span 3分
          ですぐに出品
        .topIntroduction__lists__list__description
          スマホで入力するだけで簡単に出品できる！

      %li.topIntroduction__lists__list
        .topIntroduction__lists__list__pict
          %span.topIntroduction__lists__list__pict__number
            2
          = image_tag asset_path("pict/pict-reason-02.jpg")
        .topIntroduction__lists__list__text
          %span シンプル
          で使いやすい
        .topIntroduction__lists__list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.topIntroduction__lists__list-last
        .topIntroduction__lists__list-last__pict
          %span.topIntroduction__lists__list-last__pict__number
            3
          = image_tag asset_path("pict/pict-reason-03.jpg")
        .topIntroduction__lists__list-last__text
          手数料
          %span 業界最安
        .topIntroduction__lists__list-last__description
          最大3%でお得に出品&購入！

  .topMiddleDL
    .topMiddleDL__inner
      .topMiddleDL__inner__title
        会員数日本一位
      .topMiddleDL__inner__text
        FURIMAは、フリマアプリで最も人気。
        <br>
        出品・購入回数も業界最多です！
        <br>
        ほしかったあの商品に出会えるかもしれません。
      .topMiddleDL__inner__icon
        = link_to '#',class: 'Btn' do
          = image_tag asset_path("logo/app-store.svg"),class:'topMiddleDL__inner__icon__aBtn'
        = link_to '#',class: 'Btn' do
          = image_tag asset_path("logo/google-play.svg"),class:'topMiddleDL__inner__icon__gBtn'

  .topKeyFeatures
    .topKeyFeatures__head
      FURIMAの特徴
    .topKeyFeatures__items
      %section.topKeyFeatures__items__item
        %figure.topKeyFeatures__items__item__img
          = image_tag asset_path("icon/icon-01.png")
        .topKeyFeatures__items__item__title
          簡単に売り買いできる
        .topKeyFeatures__items__item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

      %section.topKeyFeatures__items__item
        %figure.topKeyFeatures__items__item__img
          = image_tag asset_path("icon/icon-03.png")
        .topKeyFeatures__items__item__title
          売上金は即日振込みに対応
        .topKeyFeatures__items__item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!

      %section.topKeyFeatures__items__item
        %figure.topKeyFeatures__items__item__img
          = image_tag asset_path("icon/icon-04.png")
        .topKeyFeatures__items__item__title
          様々な支払いに対応
        .topKeyFeatures__items__item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
 
  .pickupContainer
    .pickupContainer__head
      ピックアップカテゴリー
      .pickupContainer__head__categories
        = link_to "#{Category.find(1).name}", category_path(1), {class: "pickupContainer__head__categories__category"}
        = link_to "#{Category.find(685).name}", category_path(685), {class: "pickupContainer__head__categories__category"}
        = link_to "#{Category.find(1270).name}", category_path(1270), {class: "pickupContainer__head__categories__category"}

    .pickupContainer__itemBox
      .pickupContainer__itemBox__head
        = link_to show_itemlist_items_path do
          .pickupContainer__itemBox__head__title
            新規投稿商品
          .pickupContainer__itemBox__head__showall
            もっと見る
      %ul#pickupContainer__itemBox__lists
        = render 'itemlist'
  .pickupContainer
    .pickupContainer__head
      ピックアップブランド
    .pickupContainer__itemBox
      .pickupContainer__itemBox__head
        = link_to show_itemlist_items_path do
          .pickupContainer__itemBox__head__title
            アーカイバ
          -if @items.count != 0
            .pickupContainer__itemBox__head__showall
              もっと見る
      .pickupContainer__itemBox__lists
        = render 'itemlist'

= render 'exhibitionBtn'