.search
  .searchitem
    - if @items.blank?
      %span.searchitem__blank 該当する商品が見つかりません。検索条件を変え、再度お試しください。
  .searchitem
    - if @items.present?
      %span.search-result
        = params[:keyword]
      %span.search-result2
        の検索結果です。
      %span.search-result
        = @items.length
      %span.search-result2
        件見つかりました！  (画像をクリックすると詳細情報が確認できます。)
  .searchitem__lists
    - @items.each do |item|
      %li.searchitem__body
        -item.images.each_with_index do |image,index|
          - if index == 0
            = link_to image_tag("#{image.url}",width: '220', height: '200'),item_path(item.id),class: "searchitem_body_image"
          - unless item.buyer_id.blank?
            .sold-tag
              .sold-tag__title sold out
        .searchitem__body__lists
          %h3.searchitem__body__lists__detail-name
            = item.name.truncate(20)
          %h3.searchitem__body__lists__detail-name
            = item.price
            円
= render "appbanner"
        