.itemlistmain
  .itemlistmain__showbox
    .itemlistmain__showbox__content
      .itemlistmain__showbox__content__titlebox
        .itemlistmain__showbox__content__titlebox__title
          全商品一覧
        %ul.itemlistmain__showbox__content__titlebox__sublists
          %li
            =link_to "菓子", "#"
          %li
            =link_to "米", "#"
          %li
            =link_to "野菜", "#"
          %li
            =link_to "果物", "#"
          %li
            =link_to "調味料", "#"
          %li
            =link_to "魚介類(加工食品)", "#"
          %li
            =link_to "肉類(加工食品)", "#"
          %li
            =link_to "トップス", "#"
          %li
            =link_to "ジャケット/アウター", "#"
          %li
            =link_to "パンツ", "#"
          %li
            =link_to "靴", "#"
          %li
            =link_to "バッグ", "#"
          %li
            =link_to "その他", "#"
            
      .itemlistmain__showbox__content__itemlists
        .itemlistmain__showbox__content__itemlists__list
          = link_to '#' do
            = image_tag "pict/item-001.jpg", class:"itemlistmain__showbox__content__itemlists__list__img"
            .itemlistmain__showbox__content__itemlists__list__body
              .itemlistmain__showbox__content__itemlists__list__body__name
                メロン
              .itemlistmain__showbox__content__itemlists__list__body__details
                %ul
                  %il 1000円
                  %il 
                    =icon('fa', 'star', class: 'itemlistmain__showbox__content__itemlists__list__body__details__likeicon')
                    2
                %p (税込み)
        .itemlistmain__showbox__content__itemlists__list
          = link_to '#' do
            = image_tag "pict/item-002.jpg", class:"itemlistmain__showbox__content__itemlists__list__img"
            .itemlistmain__showbox__content__itemlists__list__body
              .itemlistmain__showbox__content__itemlists__list__body__name
                ソーセージ
              .itemlistmain__showbox__content__itemlists__list__body__details
                %ul
                  %il 5000円
                  %il 
                    =icon('fa', 'star', class: 'itemlistmain__showbox__content__itemlists__list__body__details__likeicon')
                    ０
                %p (税込み)
        .itemlistmain__showbox__content__itemlists__list
          = link_to '#' do
            = image_tag "pict/item-003.png", class:"itemlistmain__showbox__content__itemlists__list__img"
            .itemlistmain__showbox__content__itemlists__list__body
              .itemlistmain__showbox__content__itemlists__list__body__name
                さば
              .itemlistmain__showbox__content__itemlists__list__body__details
                %ul
                  %il 500円
                  %il 
                    =icon('fa', 'star', class: 'itemlistmain__showbox__content__itemlists__list__body__details__likeicon')
                    0
                %p (税込み)
        .itemlistmain__showbox__content__itemlists__list
          = link_to '#' do
            = image_tag "pict/item-004.jpg", class:"itemlistmain__showbox__content__itemlists__list__img"
            .itemlistmain__showbox__content__itemlists__list__body
              .itemlistmain__showbox__content__itemlists__list__body__name
                フルーツセット
              .itemlistmain__showbox__content__itemlists__list__body__details
                %ul
                  %il 10000円
                  %il 
                    =icon('fa', 'star', class: 'itemlistmain__showbox__content__itemlists__list__body__details__likeicon')
                    0
                %p (税込み)
  
  = link_to "#",class:"exhibitionBtn" do
    %span.exhibitionBtn__text 出品する
    = image_tag "icon/icon_camera.png",class:"exhibitionBtn__icon"

= render "appbanner"