- breadcrumb :item_category
= render "categories/breadcrumbs"

.item-main
  .main-show
    .contentl-left
      .content-right
        .content-top
          .item-box
            .item-box__name
              = @item.name
              .item-box__body
                %ul.item-box__body__main
                  %li
                    = image_tag "#{@item.images[0].url}",class:"item-box__body__main__img"
                      - if @item.buyer_id != nil
                      .item-box__body__main__sold
                        .item-box__body__main__sold__text
                          S O L D
                %ul.item-box__body__main__sub
                  - @item.images.each.with_index do |image|
                    = image_tag "#{image.url}", class: "item-box-image__thumbnail"
            .item-box__body__price
              %span 
                = "¥#{@item.price.to_s(:delimited)}"
              .item-box__body__price__pricedetail
                %span (税込)
                %span 送料込み
            .item-box__body__purchase
              - if @item.buyer_id != nil
              - else
                =  link_to "この商品を購入する", purchase_items_path, class: 'item-box__body__purchase--btn'
            .item-box__body__destory
              -if user_signed_in? && @user.id == @item.seller_id
                = link_to "この商品を編集する", edit_item_path(@item.id), class: 'item-box__body__destory--btn-edit'
                - if @item.buyer_id != nil
                  .item-box__body__destory--btn-not
                    購入済みのため商品は削除できません
                - else
                  %button#modal-open-btn この商品を削除する
                  = link_to "削除", item_path(@item),id:'item-delete-btn', method: :delete
                  #overlay1
                    #modalWindow
                      .modal-message-box
                        %div 削除すると二度と復活できません。
                        %div 本当に削除しますか？
                      %button#modal-close-btn キャンセル
                      %button#delete-comformation-btn 削除する
                  #overlay2
                    #modalWindow
                      .modal-message-box
                        %div 商品を削除しました
                        %div トップページへ戻ります
            .item-box__body__price__detail
              = @item.text
            .item-box__body__price__detail__table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td 
                      = @seller.nickname
                  %tr
                    %th カテゴリー
                    %td.blue
                      = @item.category.parent.parent.name
                      %br= @item.category.parent.name
                      = @item.category.name
                  %tr
                    %th ブランド
                    %td
                      - if @item.brand != nil
                        = @item.brand
                      - else
                        なし
                  %tr
                    %th 商品の状態
                    %td
                      = @item.condtion.name
                  %tr
                    %th 配送料の負担
                    %td 
                      = @item.postage_type.name
                  %tr
                    %th 発送元の地域
                    %td.blue
                      = @item.prefecture.name
                  %tr
                    %th 発送日の目安
                    %td 
                      = @item.days_until_shipping.name
            .item-box__body__price__detail__optionalares
              %ul
                %li.item-box__body__price__detail__optionalares__likebtn
                  %i
                    =icon('fa', 'star')
                    お気に入り
                    0
              %ul.optinal
                %li.optinalbtn
                  = link_to '#', class: "#" do
                    %i
                      =icon('fa', 'flag')
                      不適切な商品の報告
          .item-box__body__comments
            %ul
            .form
              = form_for "#" , class: "comment-body" do |f|
                =f.text_field :comment, class: 'comment-body'
                %p.form__noticemsg
                  相手のことを考丁寧なコメントを心がけましょう。
                  %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
                .form__btn
                  %i
                    =icon('fa', 'comment')
                  %span コメントする
        .item-box__body__destroy

        %ul.links
          %li.link__prev
            = link_to "#", class: "prev" do
              %i.fas.fa-chevron-left
              %span<>
                前の商品
          %li.link__next
            = link_to "#", class: "next" do
              次の商品
              %sapn<>
              %i.fas.fa-chevron-right
        .relateditems
          = link_to "#", class: "#" do
            -# ベビー・キッズをもっとみる
          -# .relateditems__itemlists
          -#   .relateditems__itemlists__itemlist
          -#     = link_to '#' do
          -#       = image_tag asset_path("pict/item-003.png"), class:"relateditems__itemlists__itemlist__img"
          -#       .relateditems__itemlists__itemlist__body
          -#         .relateditems__itemlists__itemlist__body__name
          -#           さば
          -#           .relateditems__itemlists__itemlist__body__name__details
          -#             %ul
          -#               %il 500円
          -#               %il 
          -#                 %i
          -#                   =icon('fa', 'star')
          -#                   0
          -#               %p (税込み)

.itemlists-title
  .itemlists-title__box
    = link_to category_path(@item.category.parent.parent) do
      = "#{@item.category.parent.parent.name}をもっとみる"
  .itemlists                       
    - @items_c.each do |item|
      %li.itemlist
        = link_to item_path(item.id) do
          - if item.buyer_id != nil
            .itemlist__sold
              .itemlist__sold__text
                S O L D
          .itemlist__img
            = item.images.first(1).each do |image|
              = image_tag image.url.url
          .itemlist__body
            .itemlist__body__name
              = item.name
            .itemlist__body__details
              %ul
                %li
                  - if item.buyer_id != nil
                    .itemlist__body__details__sold
                      S O L D
                  - else
                    = "¥#{item.price.to_s(:delimited)}"
                %li
                  =icon('fa', 'star', class: 'itemlist__body__details__likeicon')
                  0
              %p (税込み)

= render 'exhibitionBtn'
= render "appbanner"